/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header.edit-mode {
	margin-top:109px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, li:hover a {
	color: #B1663C;
}

span.edit-button {
	position: absolute;
	line-height: 16px;
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	color:#000;
	font-weight: 400;
	cursor:pointer;
}

#edit-mode-action {
	height:59px;
	background-color: black;
	color:white;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	display:none;
	align-items: center;
	justify-content: center;
}

#edit-mode-action p span.edit-button {
	position:relative;
	color:white;
	margin-right: 21px;
}

#edit-mode-action button {
	background: #FFFFFF;
	border-radius: 60px;
	padding: 11px 23px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border: none;
	cursor:pointer;
}

li a {
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}

#introduction figure span.edit-button {
	position:relative;
	width:80%;
	display: block;
	margin: 15px auto;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	position:relative;
}

#portfolio span.edit-button {
	bottom: 4px;
	margin-left:31px;
}

.gallery-filter ul {
	display:flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	margin-bottom: 40px;
}

.gallery-filter ul li button {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	border: 1px solid #1D6154;
	border-radius: 60px;	
	background-color: white;
	color:#1D6154;
	padding: 9px 15px;
	cursor: pointer;
}

.gallery-filter ul li button.active {
	color: white;
	background-color:#1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Modal */

.modal-backdrop {
	width:100%;
	height: 100vh;
	position:fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	display:flex;
	align-items: center;
	justify-content: center;
	z-index:200;
}

.modal {
	width: 630px;
	background-color:white;
	border-radius: 10px;
	
}

.modal .modal-title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

.modal .modal-actions {
	padding: 32px 36px;
	display:flex;
	justify-content: space-between;
}

.modal .modal-actions > div {
	cursor: pointer;
	font-size: 17px;
}

.modal .modal-content .gallery-photos {
	margin-left: 104px;
	margin-right: 104px;
	margin-top: 46px;
	display:flex;
	box-sizing: border-box;
	column-gap:6px;
	row-gap: 12px;
	flex-wrap: wrap;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}
.modal .modal-content .gallery-photos .gallery-photo {
	width: calc((100% / 5) - 6px);
	position:relative;
}

.modal .modal-content .gallery-photos .gallery-photo .gallery-photo-actions {
	position:absolute;
	display: flex;
	gap: 3px;
	right: 5px;
	top: 6px;
}

.modal .modal-content .gallery-photos .gallery-photo .gallery-photo-actions > div {
	width: 17px;
	height: 17px;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 2px;
	font-size: 9px;
	color:white;
	cursor: pointer;
}

.modal .modal-content .gallery-photos .gallery-photo .gallery-photo-actions .move {
	visibility: hidden;
}

.modal .modal-content .gallery-photos .gallery-photo:hover .gallery-photo-actions .move {
	visibility: visible;
}

.modal .modal-content .gallery-photos .gallery-photo .gallery-image {
	width: 100%;
	height: 104px;
	background-color:grey;
}


.modal .modal-content .gallery-photos .gallery-photo .gallery-image img {
	width:100%;
}

.modal .modal-content .gallery-photos .gallery-photo .edit{
	cursor: pointer;
	margin-top: 6px;
}

.modal .modal-content form {
	width: 420px;
	margin: 36px auto 0px auto;
	display:flex;
	flex-direction: column;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}

.modal-content form .file-upload {
	width: 100%;
	height: 170px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
	position:relative;
}


.modal-content form .file-upload .file-upload-preview {
	display:none;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.modal-content form .file-upload .file-upload-preview img {
	height: 100%;
	width: auto;
}



.modal-content form .file-upload .file-upload-form {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 28px;
}

.modal-content form .file-upload button.btn {
	background-color: #CBD6DC;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	border:none;
	padding: 10px 33px;
	margin-top: 21px;
	margin-bottom: 7px;

	color: #306685;
}

.modal-content form .file-upload img {
	width: 58px;
}

.modal-content form #file-input {
	display:none;
}

.modal-content form .file-upload p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	/* identical to box height */

	text-align: center;

	color: #444444;
}

.modal-content form select {
	padding-left: 21.5px;
	padding-right: 21.5px;
}

.modal button {
	cursor: pointer;
}

.modal .modal-button-primary {
	border:none;
	font-size: 14px;
	padding: 10px 49px;
	display: block;
	width: auto !important;
	margin: 38px auto 23px auto;
}

.modal .modal-button-secondary {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #D65353;
	margin: 0 auto;
	border: none;
	background-color:transparent;
	display:block;
	margin-bottom: 48px;
}

input[type="submit"], .modal-button-primary{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.modal-button-primary.disabled {
	color: white;
	background: #A7A7A7;
}


#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > *  {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, .modal-content form input, .modal-content form select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label, .modal-content form label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login h2 {
	margin-top:166px;
}

#login {
	margin-bottom: 200px;
}

#login p.feed-back {
	color: red;
}

#login form a {
	text-align: center;
	text-decoration: underline;
	color:black;
}



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

